{% extends "base.html" %}

{% block content %}
<!-- messages -->

<h1>Добро пожаловать</h1>
<div class="exit">
    {% if current_user.is_authenticated() %}
    <a href="{{ url_for('login.logout') }}">Выйти</a>
    {% endif %}
</div>
<div class="article_and_category">
    <ul>
        <li>
            <a href="/create_article/">Добавить статью</a>
        </li>
        <li>
            <a href="/create_category/">Добавить категорию</a>
        </li>
        <li>
            <a href="/articles/">Посмотреть список статей</a>
        </li>
        <li>
            <a href="/category/">Посмотреть список категорий</a>
        </li>

    </ul>

</div>
{% endblock content %}