<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row">
    <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}
<h1>Добро пожаловать</h1>
<div class="exit">
    {% if current_user.is_authenticated() %}
    <a href="{{ url_for('login.logout') }}">Выйти</a>
    {% endif %}
</div>
<div class="article_and_category">
    <ul>
        <li>
            <a href="/create_article/">Добавить статью</a>
        </li>
        <li>
            <a href="/create_category/">Добавить категорию</a>
        </li>
        <li>
            <a href="/articles/">Посмотреть список статей</a>
        </li>
        <li>
            <a href="/category/">Посмотреть список категорий</a>
        </li>

    </ul>

</div>
</body>
</html>