<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить статью</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token }}
    {{ form.title(placeholder='Заголовок') }}
    {% if  form.select_category %}
    {{ form.select_category(placeholder="Выберите категорию") }}
    {% endif %}
    {{ form.short_description(placeholder="Короткое описание") }}
    {{ form.article(placeholder="Текст статьи") }}
    {{ form.push_article(value='Отправить') }}
</form>
<a href="/">Главная</a>
</body>
</html>