<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in articles%}
<h2><a href="/articles/{{i.slug_art}}">{{i.title}}</a></h2>
<p>Короткое описание: {{i.short_description}}</p>
<p>Статья: {{i.article}}</p>
<b>{{i.date_publisher}}</b>
<a href="/category/{{i.category_owner.slug_cat}}">{{i.category_owner.name_category}}</a>
<a href="/articles/{{i.slug_art}}">{{i.title}}</a>
{% endfor %}
<ul>
    <li><a href="/">Главная</a></li>
</ul>
</body>
</html>